*__pycache__
*coverage*
ignored
*.h5
*.json
!tests/files/json/*
!*.schema.json
!args.json
tests/files/results
tests/files/poppunk_output/unit_test_visualisations/microreact*
tests/files/poppunk_output/unit_test_visualisations/network*
storage/poppunk_output
node_modules
storage/GPS_v4*